td{
    word-wrap: break-word;
    word-break: break-all;
    table-layout: fixed;
    max-width: 270px;
  }
  .btn-verification {
      padding: 11px;
      width: 100%;
      margin-top: 11px;
      margin-bottom: 11px;
      float: inline-end;
    }
    .vote-btn-container {
      transition: ease all 0.5s;
      height: 100%;
      width: 30%;
      float: right;
      align-items: center;
      justify-content: center;
      padding: 17px;
    }
    .vote-bth {
      width: 100%;
      height: 55px;
      font-size: 100%;
    }